@font-face {
  font-family: 'MyCustomFont';
  src: url('freedom-10em-webfont.woff2') format('woff2'),
       url('freedom-10em-webfont.woff') format('woff');
}

head {
  font-family: 'MyCustomFont', fallback, sans-serif;
}

